* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    padding-top: 80px;
}

.tab {
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    padding: 0px 100px;
    justify-content: space-between;
    align-items: center;
    /*vertical align in middle */
    font-size: 37px;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.459);
    position: fixed;
    top: 0;
    z-index: 20;
}

.tab h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    margin: 0;
}

.tab a {
    color: #fff;
}

.tab a:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.tab li:hover a {
    border-bottom: 3px solid #fff;
    padding: 20px 0;
}

li {
    list-style-type: none;
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    font-size: 18px;
    font-weight: 300;
}

.carousel {
    padding: 10px 50px;
}

.carousel-item img {
    height: auto;
}

.row {
    margin: 0;
    padding: 0;
}

.col-3,
.col-6 {
    position: relative;
    /* padding: 0 !important; */
}

.subimg {
    display: block;
    width: 100%;
    height: 280px;
    cursor: pointer;
}

.subimg1 {
    height: 450px;
    width: 100%;
    margin: 20px 0px;
}

/* .layer {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    display: none;
} */

.mainslider {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.mainslider ul {
    width: 3450px;
    transition: all 800ms;
}

.arrow {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.left {
    left: 40px;
}

.ri8 {
    right: 40px;
}

.mainslider2 {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.mainslider2 ul {
    width: 3600px;
    transition: all 800ms;
}

.left1 {
    left: 40px;
}

.ri8_2 {
    right: 40px;
}

.parallax {
    background-image: url("img/11.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.parallax ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax ul li:hover {
    transform: scale(1.1);
}

.parallax a {
    color: #fff;
}

.section_heading {
    text-align: center;
    font-family: 'Comfortaa', cursive;
    margin: 28px 0;
}

.login {
    width: 500px;
    display: block;
    margin: 50px auto;
}